.top-section {
  min-height: 332px;
  background-color: #ED5565;
}

.middle-section {
  min-height: 800px;
  background-color: #F5F7F1;
  padding-top: 50px;
  padding-bottom: 100px;
}

.middle-section .section-header h2{
  color: #DA4453;
}

.middle-section-2 {
  min-height: 1000px;
  background-color: #48CFAD;
  padding-top: 50px;
  padding-bottom: 100px;
}

.middle-section-2 .section-header h2{
  color: white;
}

.bottom-section {
  min-height: 400px;
  background-color: #434A54;
  color: #E6E9ED;
  padding-top: 50px;
}

.site-title {
  color: white;
  padding-top: 30px;
  font-family: 'Dancing Script', cursive;
}

.site-title a {
  text-decoration: none;
  color: white;
  font-size: 120px;
  transition: font-size 0.5s;
}

.site-title a:hover {
  text-decoration: none;
  font-size: 121px;
}

.site-title a:visited {
  text-decoration: none;
}

nav {
  min-height: 70px;
  padding-top: 10px;
  font-size: 30px;
  color: white;
  background-color: #DA4453;
}

nav span {
  /*margin-left: 100px;
  margin-right: 100px;*/
  font-family: 'Amatic SC', cursive;
}

nav span:hover {
  color: #E6E9ED;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover {
  text-decoration: none;
  color: #E6E9ED;
}

.menu a:visited {
  text-decoration: none;
}

.featured-recipes-container .col-12 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.featured-recipes-container .hovereffect {
  max-height: 370px;
}

.featured-recipes-container img{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-mais-grande {
  margin-top: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

.section-header h2{
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
}

.videos-container {
  margin-top: 20px;
}

.videos-container iframe {
  width: 1115px;
  height: 550px;
}

.btn-mais-videos {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #434A54;
}

.btn-mais-videos:hover {
  background-color: #ffeeba;
  border-color: #ffeeba;
  color: #434A54;
}

.btn-mais-videos:active {
  background-color: #fbe5a2;
  border-color: #fbe5a2;
  color: #434A54;
}

.btn-mais-videos:focus {
  box-shadow: 0 0 0 .2rem rgba(251,229,162,.25);
}

.social-media-icons img {
  width: 48px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.contato-email {
  margin-top: 50px;
}

@media only screen and (min-width: 730px) {
  .top-section {
    min-height: 200px;
  }

  .menu {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media only screen and (max-width: 767.98px) {
  .contato-header {
    margin-top: 50px;
  }

  .contato-email {
    margin-top: 0px;
  }
}
